

/* slider */

.offer-slider {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 300px;
	border-radius: 5px;
}
.offer-slide {
    height: 300px;
    line-height: 280px;
}
.offer-slider a {
    text-decoration: none;
}
.offer-slide .img {
    position: absolute;
    top: 0;
    width: 1170px;
}
.offer-slide .in {
    position: relative;
    z-index: 10;
    line-height: 1;
}
.offer-slide .in .title {
    margin-bottom: 10px;
}
.offer-slide .sbtn {
    margin-top: 20px;
}
.offer-slide .sbtn .btn {
	display: inline-block;
	vertical-align: middle;
	height: 38px;
	line-height: 38px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 4px;
	padding: 0 35px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	background: #ea1b28;
}
.offer-slide .sbtn .btn:hover {
	background: #d8000e;
}
.offer-btns {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 0;
    z-index: 200;
    width: 100%;
}

.offer-btns > a {
    display: block;
    position: absolute;
    top: -25px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    font-size: 30px;
    line-height: 46px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.offer:hover .offer-btns {
    opacity: 1;
}

.offer-btns .flex-prev {
	left: 30px;
    padding-right: 4px;
}
.offer-btns .flex-next {
	right: 30px;
    padding-left: 4px;
}
.offer-btns a:hover {opacity: 0.8;}

/* home */

.home {}

.hnav {}
.hnav > li {margin-bottom: 10px;}
.hnav > li:last-child {margin-bottom: 0;}
.hnav > li > a {
	display: block;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
}

.hnav-child {margin: 5px 0 15px;}
.hnav-child > li {margin-bottom: 5px;}
.hnav-child > li:last-child {margin-bottom: 0;}
.hnav-child > li > a {
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: #191919;
	line-height: 20px;
}

/* services */

.snav {
	
}

.snav-level-1 {
	
}

.snav-level-1 > li {margin-bottom: 10px; margin-right: -13px;}
.snav-level-1 > li:last-child {margin-bottom: 0;}

.snav-level-1 > li > a {
	position: relative;
	padding-right: 13px;
	font-size: 16px;
	font-weight: 600;
	
}

.snav-level-1 > li._not_empty > a:before {
	content: "";
	display: block;
	position: absolute;
	right: 0; top: 8px;
	border: 3px solid transparent;
	border-right: 3px solid #003f82;
}

.snav-level-1 > li._not_empty._open > a:before {
	top: 10px;
	border: 3px solid transparent;
	border-top: 3px solid #003f82;
}

.snav-level-2 {
	display: none;
	margin-top: 10px;
}

.snav-level-1 > li._open .snav-level-2  {
	display: block;
	margin-bottom: 15px;
}

.snav-level-2 > li {margin-bottom: 5px;}
.snav-level-2 > li:last-child {margin-bottom: 0;}

.snav-level-2 > li > a {
	color: #191919;
	font-size: 14px;
	font-weight: 600;
}

.snav-level-1 > li > a._current,
.snav-level-2 > li > a._current {text-decoration: none;}

.services-list {
	margin-top: -30px;
	margin-bottom: 30px;
}

.services-list ._hidden {display: none;}

.services-item {
	display: block;
	margin-top: 30px;
	color: inherit;
	text-align: center;
	text-decoration: none;
}

.services-item .img {
	margin-bottom: 10px;
}

.services-item .img img {
	display: block;
	width: 100%;
	border-radius: 5px;
}

.services-item .title {
	text-decoration: underline;
}

.services-item:hover .title {
	text-decoration: none;
	color: #003f82;
}

.services-more {
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: #ea1b28;
	border-bottom: 2px dotted #ea1b28;
	transition: border-color 0.3s ease 0s;
}

.services-more:hover {border-color: transparent;}

/* news */

.home-news {
	margin-top: 40px;
	padding-top: 30px;
	border-top: 1px solid #b6b6b6;
}

.home-news-list li {
	float: left;
	width: 280px;
	margin-right: 70px;
}

.home-news-list li:last-child {margin-right: 0;}

.home-news-list a {
	display: block;
	text-decoration: none;
	color: inherit;
}

.home-news-list h4 {
	font-size: 14px;
	line-height: 20px;
	color: #003f82;
	text-decoration: underline;
	margin-bottom: 10px;
	height: 40px;
	overflow: hidden;
}

.home-news-list p {
	font-size: 14px;
	line-height: 20px;
	color: #757575;
	max-height: 60px;
	overflow: hidden;
}

.home-news-list a:hover h4 {
	text-decoration: none;
	color: #ea1b28;
}

.news-list {}
.news-list > li {margin-bottom: 20px;}
.news-list > li:last-child {margin-bottom: 0;}

.news-tiles > ul {margin-bottom: -30px;}
.news-tiles > ul > li {margin-bottom: 30px;}

.news-item,
.news-tile,
.news-other {
	display: block;
	color: inherit;
	text-decoration: none;
}

.news-item .img {
	float: left;
	width: 200px;
}

.news-item .img img,
.news-tile .img img,
.news-other .img img {
	display: block;
	width: 100%;
}

.news-item .descr {
	float: right;
	width: 923px;
	padding-top: 5px;
}

.news-item .title {
	font-size: 18px;
	line-height: 24px;
	text-decoration: underline;
	margin-bottom: 10px;
}

.news-item .date,
.news-tile .date,
.news-other .date {
	font-size: 12px;
	color: #757575;
	margin-bottom: 10px;
}

.news-tile .date,
.news-other .date {
	margin-bottom: 5px;
}

.news-item .brief {
	font-size: 14px;
	line-height: 20px;
}

.news-tile .img {
	float: left;
	width: 200px;
}

.news-tile .descr {
	float: right;
	width: 260px;
}

.news-tile .title {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	text-decoration: underline;
	margin-bottom: 5px;
}

.news-item:hover .title,
.news-tile:hover .title,
.news-other:hover .title {
	text-decoration: none;
	color: #003f82;
}

.news-item:hover .brief,
.news-tile:hover .brief,
.news-other:hover .brief {
	color: #757575;
}

.news-other .img {margin-bottom: 10px;}

.news-other .title {
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-decoration: underline;
	margin-bottom: 5px;
}

.news-other .brief {
	font-size: 12px;
	line-height: 16px;
	max-height: 48px;
	overflow: hidden;
}

.news-item:hover .title {
	text-decoration: none;
	color: #003f82;
}

.news-item:hover .brief {
	color: #757575;
}

/* gallery */

.gallery {}

.gallery-list {}

.gallery-list > ul {margin-bottom: -20px;}
.gallery-list > ul > li {margin-bottom: 20px;}

.gallery-item {
	display: block;
	color: inherit;
	text-decoration: none;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	transition: all 0.3s ease 0s;
}

.gallery-item .img {margin-bottom: 10px;}

.gallery-item .img img {
	display: block;
	width: 100%;
}

.gallery-item .title {
	margin-bottom: 5px;
	transition: all 0.3s ease 0s;
}

.gallery-item:hover {border-color: #b2b2b2;}
.gallery-item:hover .title {color: #003f82;}

.gallery-imgs {
	margin: 0 -3px -6px;
}

.gallery-imgs > li {
	float: left;
	width: 33.333%;
	padding: 0 3px;
	margin-bottom: 6px;
}

.gallery-imgs > li > a {
	display: block;
	position: relative;
}

.gallery-imgs > li > a > img {
	display: block;
	width: 100%;
}

.gallery-imgs > li > a:before {
	content: "";
	display: block;
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	background: url('../img/zoom.png') no-repeat center rgba(0, 0, 0, 0.4);
	transition: opacity 0.3s ease 0s;
	opacity: 0;
}

.gallery-imgs > li > a:hover:before {opacity: 1;}

/* reviews */

.reviews {}

.reviews-list {}
.reviews-list > li {margin-bottom: 30px;}
.reviews-list > li:last-child {margin-bottom: 0;}

.reviews-list .img img {
	display: block;
	width: 100%;
	border-radius: 100%;
}

.reviews-list .descr {
	float: right;
	width: 840px;
}

.reviews-list .title {
	margin-bottom: 10px;
}

/* faq */

.faq {}

.faq {}
.faq-list > li {margin-bottom: 15px;}
.faq-list > li:last-child {margin-bottom: 0;}

.faq-item {}

.faq-item .title {
	position: relative;
	display: block;
	padding-left: 18px;
}

.faq-item .title .fa {
	position: absolute;
	left: 0; top: 4px;
	font-size: 13px;
	transition: all 0.5s ease 0s;
}

.faq-item._open .title .fa {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.faq-item .text {
	display: none;
	padding: 20px;
	margin-top: 10px;
	border-radius: 5px;
	background: #f9f7f7;
}

/* contacts */

.feedback-form {
	padding: 20px;
	background: #f9f7f7;
	border-radius: 5px;
}

.contacts .map {
	padding: 4px;
	border: 1px solid #d4cbcb;
	border-radius: 4px;
}

.contacts .map iframe {
	display: block;
}

/* popup */

.popup {
	display: none;
	position: relative;
	width: 300px;
	padding: 30px 35px;
	background: #fff;
	text-align: center;
}

.close {
	position: absolute;
	top: 15px; right: 15px;
	width: 10px;
	height: 11px;
	background: url('../img/x.png') no-repeat;
	opacity: 0.7;
	transition: all 0.3s ease 0s;
}

.close:hover {
	cursor: pointer;
	opacity: 1;
}