.super-wrapper {
    min-height: 100%;
    padding-bottom: 240px;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}

/* header */

.header {
    padding: 25px 0 15px;
    text-align: center;
}

.header .wrapper {
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 20px;
}

.logo-wrap {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    text-align: left;
}

.logo-title {
    font-size: 28px;
    line-height: 1;
    letter-spacing: -2px;
    font-weight: 700;
}

.logo-descr {
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
}

.header .logo-wrap {
    float: left;
}

.header-contacts {
    display: inline-block;
    text-align: left;
}

.header-contacts > div {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-weight: 700;
    margin-right: 50px;
    font-size: 20px;
    letter-spacing: -1px;
}

.header-contacts > div:last-child {
    margin-right: 0;
}

.header-contacts .label {
    font-size: 12px;
    color: #6c6c6c;
    letter-spacing: 0px;
}

.header-contacts .fa {
    font-size: 30px;
    color: #b6b6b6;
    position: absolute;
    left: -25px;
    top: 0;
}

.header-contacts .fa-fax {
    font-size: 22px;
    left: -35px;
}

.header-right {
    float: right;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    color: #6c6c6c;
    padding-top: 10px;
}

.header-right a {
    color: inherit;
}

/* tmenu */

.tmenu-wrap {
    position: relative;
    z-index: 5;
    margin-bottom: 15px;
    padding: 0 10px;
}

.tmenu {
    display: table;
    width: 100%;
}

.tmenu > ul {
    display: table-row;
}

.tmenu > ul > li {
    display: table-cell;
}

.tmenu .item {
    position: relative;
}

.tmenu .item > a {
    display: block;
    position: relative;
    padding: 15px 20px 19px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    background: #ea1b28;
    white-space: nowrap;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.tmenu .item:hover > a {
    background: #d8000e;
}

.tmenu > ul > li:first-child .item > a {
    border-radius: 5px 0 0 5px;
}

.tmenu > ul > li:last-child .item > a {
    border-radius: 0 5px 5px 0;
}

.tmenu .item._not_empty > a:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 5px;
    margin-left: -3px;
    border: 3px solid transparent;
    border-top: 3px solid #fff;
}

.tmenu .submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 220px;
    min-width: 100%;
    background: #fff;
    padding-top: 10px;
}

.tmenu > ul > li:last-child .item > .submenu {
    left: auto;
    right: 0;
}

.tmenu .submenu > ul {
    padding: 20px;
    border: 2px solid #ea1b28;
}

.tmenu .submenu > ul > li {
    margin-bottom: 7px;
}

.tmenu .submenu > ul > li:last-child {
    margin-bottom: 0;
}

.tmenu .submenu > ul > li > a {
    position: relative;
    display: block;
    font-weight: 600;
    color: #6c6c6c;
    padding-left: 15px;
}

.tmenu .submenu > ul > li > a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 7px;
    width: 5px;
    height: 5px;
    border-radius: 1px;
    background: #6c6c6c;
}

.tmenu .item:hover .submenu {
    display: block;
}

/* footer */

.footer-wrapper {
    position: relative;
    border-top: 3px solid #003f82;
    height: 240px;
    margin-top: -240px;
    background: #fff;
}

.footer-wrapper:before,
.footer-wrapper:after {
    content: "";
    display: block;
    width: 200px;
    position: absolute;
    top: -3px;
    border-top: 3px solid #ea1b28;
}

.footer-wrapper:before {
    left: 50%;
    margin-left: -350px
}

.footer-wrapper:after {
    right: 50%;
    margin-right: -350px;
}

.footer {
    padding: 40px 0;
}

.footer-adres {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.fmenu {}

.fmenu-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.fmenu-child > li {
    margin-bottom: 7px;
}

.fmenu-child > li:last-child {
    margin-bottom: 0;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social .label {
    display: inline-block;
    vertical-align: middle;
    color: #757575;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social .icons {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.footer-social .icons > a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: #6c6c6c;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    margin-right: 5px;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.footer-social .icons > a:last-child {
    margin-right: 0;
}

.footer-social .icons > a:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 12px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.footer-social .icons > a:hover {
    background: #5c5c5c;
}

.copyright {
    color: #757575;
    margin-bottom: 5px;
}

.developer {}

.developer a {
    color: #ea1b28;
}

/* breadcrumbs */

.breadcrumbs {
    margin-bottom: 15px;
    font-size: 12px;
    color: #003f82;
}

.breadcrumbs-in {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px 15px;
    background: #f9f7f7;
    border-radius: 5px;
}

.breadcrumbs-sep {
    margin: 0 3px;
    color: #232323;
}

.breadcrumbs a {
    color: #232323;
}

/* pagination */

.pagination {
    margin-top: 30px;
    text-align: center;
}

.pagination .num {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.pagination a {
    margin: 0 5px;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination .fa {
    font-size: 12px;
}

.pagination span.num {
    height: 25px;
    line-height: 1;
    padding: 5px 3px 4px;
    min-width: 25px;
    background: #ea1b28;
    color: #fff;
    font-weight: 700;
    margin: 0 7px;
    border-radius: 3px;
}


/* content */

.content {
    padding-bottom: 50px;
}

.left-side {
    float: left;
    width: 230px;
}

.right-side {
    float: right;
    width: 720px;
}

.page-top {
    margin-bottom: 30px;
}

.page-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.page-descr {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

/* social */

.social {}

.social-label {
    display: inline-block;
    vertical-align: middle;
}

.social-init {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.social-init > a {
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 26px;
    margin-right: 3px;
    transition: all 0.3s ease 0s;
}

.social-init > a:last-child {
    margin-right: 0;
}

.social-init > a[data-count="vk"] {
    background: url('../img/social/vk.png') no-repeat;
}

.social-init > a[data-count="odkl"] {
    background: url('../img/social/odkl.png') no-repeat;
}

.social-init > a[data-count="fb"] {
    background: url('../img/social/fb.png') no-repeat;
}

.social-init > a[data-count="twi"] {
    background: url('../img/social/twi.png') no-repeat;
}

.social-init > a[data-count="gplus"] {
    background: url('../img/social/gplus.png') no-repeat;
}

.social-init > a[data-count="mail"] {
    background: url('../img/social/mail.png') no-repeat;
}

.social-init > a:hover {
    opacity: 0.8;
}


/* only for demo */

.colors-select {
    position: fixed;
    top: 50px;
    left: -200px;
    z-index: 800;
    transition: left 0.3s ease 0s;
}

.colors-select._open {
    left: 0;
}

.colors-select-toggle {
    position: absolute;
    top: 0;
    left: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #6d6d6d;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    transition: background 0.3s ease 0s;
}

.colors-select-toggle:hover {
    background: #5d5d5d;
}

.colors-select-panel {
    width: 200px;
    padding: 15px 15px 5px;
    background: #6d6d6d;
}

.colors-select-list {}

.colors-select-list > li {
    float: left;
    width: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.colors-select-list > li:nth-child(3n + 3) {
    margin-right: 0;
}

.colors-select-list > li > a {
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid #909090;
    transition: all 0.3s ease 0s;
}

.colors-select-list > li > a:hover {
    border-color: #b0b0b0;
}

.colors-select-list > li > a.current {
    border-color: #d0d0d0;
}

.colors-select-list > li > a._azure {
    background: #25acc4;
}

.colors-select-list > li > a._blue {
    background: #2a83c8;
}

.colors-select-list > li > a._red {
    background: #ee1b2e;
}

.colors-select-list > li > a._green {
    background: #82b541;
}

.colors-select-list > li > a._orange {
    background: #e87e04;
}

.offer-slider-wrap {
    overflow: hidden;
}

.colors-select-toggle {
    display: none;
}

.tmenu_btn {
    display: none;
}

.block_company {
    float: right;
}

.footer_menu,
.footer_none {
    float: right;
}

.offer {
    position: relative;
    margin-bottom: 20px;
}

/*
                    MEDIA-QUERIES
*/

/*_____________________________________________________
                     1170-769
------------------------------------------------------*/

@media screen and (min-width: 769px) and (max-width: 1169px) {
    /*--------------------
            HEADER
    ---------------------*/
    .tmenu .item > a {
        padding: 15px 18px 19px;
    }
    .header-contacts > div {
        margin-right: 15px;
    }
    .header-contacts .fa {
        display: none;
    }
    /*--------------------
             NEWS
    ---------------------*/
    .news-item .descr {
        float: left !important;
        width: 69% !important;
        padding-top: 0 !important;
        margin-left: 25px;
    }
    .news-tile .img {
        float: none !important;
        width: 300px !important;
        margin: 0 auto;
    }
    .news-tile .descr {
        float: none !important;
        width: 300px !important;
        margin: 0 auto;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1169px) {
    /*--------------------
           SERVICES
    ---------------------*/
    .left-side,
    .right-side {
        width: 100%;
    }
    .right-side {
        margin-top: 25px;
    }
    .snav-level-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .snav-level-1 li {
        margin-right: 10px !important;
        display: table;
    }
    .snav-level-1 li._open .snav-level-2,
    .snav-level-1 li._not_empty._open > a:before,
    .snav-level-1 li._not_empty > a:before {
        border-right-color: rgba(0, 63, 130, 0) !important;
        border-top-color: rgba(0, 63, 130, 0) !important;
    }
    .snav > ul > li {
        width: 200px;
        border: 1px solid #d8d8d8;
        padding: 7px;
    }
    .snav-level-1 > li > a {
        padding-right: 10 !important;
        text-decoration: none;
    }
    /*--------------------
            SLIDER
    ---------------------*/
    .offer-slide .img {
        width: auto;
    }
    .offer-slide .in {
        display: none;
    }
}

/*_____________________________________________________
                         768
------------------------------------------------------*/

@media screen and (max-width: 768px) {
    .offer-slider {
        width: auto !important;
    }
    .wrapper {
        overflow: hidden;
    }
    /*--------------------
            HEADER
    ---------------------*/
    .header .wrapper._1 {
        padding: 0px;
    }
    .tmenu-wrap {
        position: absolute;
        width: 100%;
        z-index: 5;
        margin-bottom: 0;
        margin-top: -15px;
        padding: 0;
    }
    .header-right,
    .header-contacts .phone._city,
    .tmenu,
    .fa-mobile {
        display: none;
    }
    .header-contacts {
        margin-left: 20px;
        float: left;
    }
    .tmenu_btn {
        display: block;
        float: right;
        margin-top: 5px;
    }
    .tmenu._open {
        display: block;
    }
    .fa-bars {
        font-size: 35px;
    }
    .tmenu > ul {
        display: flex;
        flex-direction: column;
    }
    .tmenu .item {
        margin-bottom: -2px;
    }
    .tmenu .item:hover .submenu {
        display: none;
    }
    .tmenu .item._not_empty > a:before,
    .submenu {
        display: none;
    }
    /*--------------------
            FOOTER
    ---------------------*/
    .footer-wrapper:before,
    .footer-wrapper:after {
        content: "";
        display: block;
        width: 50%;
        position: absolute;
        top: -3px;
        border-top: 3px solid #ea1b28;
    }
    .footer-wrapper:before {
        margin-left: -20%;
    }
    .footer-wrapper:after {
        margin-right: -20%;
    }
    .footer_menu,
    .footer_adress {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer .row {
        margin: 0 auto;
    }
    .footer-adres,
    .footer-social,
    .copyright,
    .developer,
    .fmenu-title,
    .fmenu-child {
        text-align: center;
    }
    .footer_adress {
        margin-bottom: 0;
    }
    /*--------------------
            MAIN
    ---------------------*/
    .block_company,
    .block_services {
        width: 100%;
    }
    .block_company h1 {
        text-align: center;
    }
    .block_services {
        margin-top: 30px;
    }
    /*--------------------
         ARTICLE/NEWS
    ---------------------*/
    .news-list > li {
        margin-bottom: 40px !important;
    }
    .news-list > li:last-child {
        margin-bottom: 0px !important;
    }
    .news-item .descr,
    .news-tile .descr {
        float: none !important;
        width: 86% !important;
        padding-top: 10px !important;
        margin-left: 0;
        margin: 0 auto;
    }
    .news-item .img,
    .news-tile .img {
        float: none !important;
        width: 400px !important;
        margin: 0 auto;
    }
    .news-tiles .row .col-6,
    .news .row .col-9 {
        width: 100%;
        margin-bottom: 40px;
    }
    .news .row .col-3 {
        width: 100%;
    }
    /*--------------------
           GALLERY
    ---------------------*/
    .gallery-imgs > li {
        width: 50% !important;
    }
    /*--------------------
           FEEDBACK
    ---------------------*/
    .feedback_people {
        width: 100%;
    }
    .feedback_form {
        width: 100%;
        margin-top: 30px;
    }
}

/*_____________________________________________________
                         460
------------------------------------------------------*/

@media screen and (max-width: 460px) {
    /*--------------------
            HEADER
    ---------------------*/
    .header-contacts {
        display: none;
    }
    /*--------------------
           GALLERY
    ---------------------*/
    .gallery-imgs > li {
        width: 100% !important;
    }
    /*--------------------
         ARTICLE/NEWS
    ---------------------*/
    .oneh {
        width: 100%;
    }
    .oneh .social {
        margin-top: 10px;
        text-align: left;
    }
    .news-item .img,
    .news-tile .img {
        float: none !important;
        width: 100% !important;
        margin: 0 auto;
    }
}

/* -- SLIDER INTELLECT -- */

/*
.offer { position: relative; height: 575px; overflow: hidden; }
.offer-slide { position: relative; height: 575px; }
.offer-img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000 no-repeat center; background-size: cover; }
.offer-img._mob { display: none; }
.offer-content { line-height: 575px; }
.offer-content .wrap { display: inline-block; vertical-align: middle; line-height: 1; }
.offer-content .title { font-size: 44px; font-weight: 300; line-height: 60px; text-transform: uppercase; }
.offer-content .title strong { font-weight: 500; }
.offer-content .descr { margin-top: 20px; font-size: 16px; line-height: 26px; }
.offer-content .more { margin-top: 30px; }
.offer-content .more > a { margin-right: 10px; }
.offer-content .more > a:last-child { margin-right: 0; }
.offer-btn { display: inline-block; vertical-align: middle; font-size: 16px; font-weight: 500; line-height: 55px; color: #fff; text-align: center; text-decoration: none; height: 55px; padding: 0 20px; background: #3ac000; transition: all 0.3s ease 0s; }
.offer-btn:hover { background: #449f1d; }
.offer-btn._alt { line-height: 51px; padding: 0 50px; background: none; border: 2px solid #3ac000; }
.offer-btn._alt:hover { background: #449f1d; border-color: #449f1d; }

@media (max-width: 992px) {
  .offer { height: 450px; }
  .offer-slide { height: 450px; }
  .offer-content { line-height: 450px; }
  .offer-content .title { font-size: 32px; line-height: 42px; }
}
@media (max-width: 768px) {
  .offer { height: 270px; }
  .offer-slide { height: 270px; }
  .offer-content { line-height: 270px; }
  .offer-content .title { font-size: 20px; line-height: 30px; }
  .offer-content .more { margin-top: 20px; }
  .offer-btn { height: auto; font-size: 14px; line-height: 20px; padding: 10px 20px; margin: 0 10px 10px 0; }
  .offer-btn._alt { line-height: 20px; padding: 8px 20px; }
}

@media (max-width: 520px) {
  .offer { height: 300px; }
  .offer-slide { height: 300px; }
  .offer-content { line-height: 300px; }
  .offer-img._pc { display: none; }
  .offer-img._mob { display: block; }
} */
